.news-card-container {
    border: 2.5px solid white;
    border-radius: 7.5px;
    padding: 5px;
    margin: 20px;
    width: 250px;
    height: 325px;
}

.news-card-image {
    width: 100%;
    height: 55%;
    border-radius: 2.5px;
    margin-bottom: 10px;
}

.news-card-desc {
    width: 100%;
    height: 43%; /* leaving an extra 2% here otherwise the text shows through the border */
    overflow: auto;
}

.news-content-container {
    z-index: 10000;
    
}
